In [1]:
import numpy as np

In [2]:
a = np.random.randint(1,100,15)
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [3]:
b = np.random.randint(1,100,24).reshape(6,4)
b

array([[46, 36, 95, 99],
       [58, 20, 30, 33],
       [62, 95, 31, 58],
       [77, 94, 19, 59],
       [52,  5, 98, 92],
       [22, 80,  5, 85]])

### np.sort

Return a sorted copy of an array.

https://numpy.org/doc/stable/reference/generated/numpy.sort.html

In [4]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [5]:
np.sort(a)

array([12, 15, 24, 28, 29, 33, 43, 47, 48, 51, 60, 65, 91, 94, 96])

In [6]:
np.sort(a)[::-1] # Descending Order

array([96, 94, 91, 65, 60, 51, 48, 47, 43, 33, 29, 28, 24, 15, 12])

In [7]:
b

array([[46, 36, 95, 99],
       [58, 20, 30, 33],
       [62, 95, 31, 58],
       [77, 94, 19, 59],
       [52,  5, 98, 92],
       [22, 80,  5, 85]])

In [8]:
np.sort(b) # row wise sort

array([[36, 46, 95, 99],
       [20, 30, 33, 58],
       [31, 58, 62, 95],
       [19, 59, 77, 94],
       [ 5, 52, 92, 98],
       [ 5, 22, 80, 85]])

In [9]:
np.sort(b,axis=0) # column wise sort

array([[22,  5,  5, 33],
       [46, 20, 19, 58],
       [52, 36, 30, 59],
       [58, 80, 31, 85],
       [62, 94, 95, 92],
       [77, 95, 98, 99]])

### np.append

The numpy.append() appends values along the mentioned axis at the end of the array

https://numpy.org/doc/stable/reference/generated/numpy.append.html

In [10]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [11]:
np.append(a,200)

array([ 60,  65,  12,  43,  94,  51,  91,  29,  96,  47,  24,  33,  48,
        15,  28, 200])

In [12]:
b

array([[46, 36, 95, 99],
       [58, 20, 30, 33],
       [62, 95, 31, 58],
       [77, 94, 19, 59],
       [52,  5, 98, 92],
       [22, 80,  5, 85]])

In [13]:
np.append(b,np.ones((b.shape[0],1)),axis=1)

array([[46., 36., 95., 99.,  1.],
       [58., 20., 30., 33.,  1.],
       [62., 95., 31., 58.,  1.],
       [77., 94., 19., 59.,  1.],
       [52.,  5., 98., 92.,  1.],
       [22., 80.,  5., 85.,  1.]])

### np.concatenate

numpy.concatenate() function concatenate a sequence of arrays along an existing axis.

https://numpy.org/doc/stable/reference/generated/numpy.concatenate.html

In [14]:
c = np.arange(6).reshape(2,3)
d = np.arange(6,12).reshape(2,3)

In [15]:
c

array([[0, 1, 2],
       [3, 4, 5]])

In [16]:
d

array([[ 6,  7,  8],
       [ 9, 10, 11]])

In [17]:
np.concatenate((c,d),axis=0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [18]:
np.concatenate((c,d),axis=1)

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11]])

### np.unique

With the help of np.unique() method, we can get the unique values from an array given as parameter in np.unique() method.

https://numpy.org/doc/stable/reference/generated/numpy.unique.html/

In [19]:
e = np.array([1,1,2,2,3,3,4,4,5,5,6,6])
e

array([1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6])

In [20]:
np.unique(e)

array([1, 2, 3, 4, 5, 6])

### np.expand_dims

With the help of Numpy.expand_dims() method, we can get the expanded dimensions of an array

https://numpy.org/doc/stable/reference/generated/numpy.expand_dims.html

In [21]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [22]:
a.shape

(15,)

In [23]:
np.expand_dims(a,axis=0)

array([[60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28]])

In [24]:
np.expand_dims(a,axis=0).shape

(1, 15)

In [25]:
np.expand_dims(a,axis=1)

array([[60],
       [65],
       [12],
       [43],
       [94],
       [51],
       [91],
       [29],
       [96],
       [47],
       [24],
       [33],
       [48],
       [15],
       [28]])

In [26]:
np.expand_dims(a,axis=1).shape

(15, 1)

### np.where

The numpy.where() function returns the indices of elements in an input array where the given condition is satisfied.

https://numpy.org/doc/stable/reference/generated/numpy.where.html

In [27]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [28]:
# find all indices with value greater than 50
np.where(a>50)

(array([0, 1, 4, 5, 6, 8], dtype=int64),)

In [29]:
# replace all values > 50 with 0
np.where(a>50,0,a)

array([ 0,  0, 12, 43,  0,  0,  0, 29,  0, 47, 24, 33, 48, 15, 28])

In [30]:
# replace all even values with 0
np.where(a%2==0,0,a)

array([ 0, 65,  0, 43,  0, 51, 91, 29,  0, 47,  0, 33,  0, 15,  0])

### np.argmax

The numpy.argmax() function returns indices of the max element of the array in a particular axis.

https://numpy.org/doc/stable/reference/generated/numpy.argmax.html

In [31]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [32]:
np.argmax(a)

8

In [33]:
b

array([[46, 36, 95, 99],
       [58, 20, 30, 33],
       [62, 95, 31, 58],
       [77, 94, 19, 59],
       [52,  5, 98, 92],
       [22, 80,  5, 85]])

In [34]:
np.argmax(b)

3

In [35]:
np.argmax(b,axis=0)

array([3, 2, 4, 0], dtype=int64)

### np.argmin

The numpy.argmin() function returns indices of the min element of the array in a particular axis.

https://numpy.org/doc/stable/reference/generated/numpy.argmin.html

In [36]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [37]:
np.argmin(a)

2

### np.cumsum

numpy.cumsum() function is used when we want to compute the cumulative sum of array elements over a given axis.

https://numpy.org/doc/stable/reference/generated/numpy.cumsum.html

In [38]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [39]:
np.cumsum(a)

array([ 60, 125, 137, 180, 274, 325, 416, 445, 541, 588, 612, 645, 693,
       708, 736])

In [40]:
b

array([[46, 36, 95, 99],
       [58, 20, 30, 33],
       [62, 95, 31, 58],
       [77, 94, 19, 59],
       [52,  5, 98, 92],
       [22, 80,  5, 85]])

In [41]:
np.cumsum(b)

array([  46,   82,  177,  276,  334,  354,  384,  417,  479,  574,  605,
        663,  740,  834,  853,  912,  964,  969, 1067, 1159, 1181, 1261,
       1266, 1351])

In [42]:
np.cumsum(b,axis=0)

array([[ 46,  36,  95,  99],
       [104,  56, 125, 132],
       [166, 151, 156, 190],
       [243, 245, 175, 249],
       [295, 250, 273, 341],
       [317, 330, 278, 426]])

### np.cumprod

numpy.cumprod() function is used when we want to compute the cumulative product of array elements over a given axis.

https://numpy.org/doc/stable/reference/generated/numpy.cumprod.html

In [43]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [44]:
np.cumsum(a)

array([ 60, 125, 137, 180, 274, 325, 416, 445, 541, 588, 612, 645, 693,
       708, 736])

### np.percentile

numpy.percentile()function used to compute the nth percentile of the given data (array elements) along the specified axis. 

https://numpy.org/doc/stable/reference/generated/numpy.percentile.html

In [45]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [46]:
np.percentile(a,100)

96.0

In [47]:
np.percentile(a,0)

12.0

In [48]:
np.percentile(a,50)

47.0

In [49]:
np.median(a)

47.0

### np.histogram

Numpy has a built-in numpy.histogram() function which represents the frequency of data distribution in the graphical form.

https://numpy.org/doc/stable/reference/generated/numpy.histogram.html

In [50]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [51]:
np.histogram(a,bins=[0,10,20,30,40,50,60,70,80,90,100])

(array([0, 2, 3, 1, 3, 1, 2, 0, 0, 3], dtype=int64),
 array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100]))

### np.corrcoef

Return Pearson product-moment correlation coefficients.

https://numpy.org/doc/stable/reference/generated/numpy.corrcoef.html

In [52]:
salary = np.array([20000,40000,25000,35000,60000])
experience = np.array([1,3,2,4,2])

In [53]:
np.corrcoef(salary,experience)

array([[1.        , 0.25344572],
       [0.25344572, 1.        ]])

### np.isin

With the help of numpy.isin() method, we can see that one array having values are checked in a different numpy array having different elements with different sizes.

https://numpy.org/doc/stable/reference/generated/numpy.isin.html

In [54]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [55]:
items = [2,66,30,40,50,60,70,80,92,100]

In [56]:
np.isin(a,items)

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [57]:
a[np.isin(a,items)]

array([60])

### np.flip

The numpy.flip() function reverses the order of array elements along the specified axis, preserving the shape of the array.

https://numpy.org/doc/stable/reference/generated/numpy.flip.html

In [58]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [59]:
np.flip(a)

array([28, 15, 48, 33, 24, 47, 96, 29, 91, 51, 94, 43, 12, 65, 60])

In [60]:
b

array([[46, 36, 95, 99],
       [58, 20, 30, 33],
       [62, 95, 31, 58],
       [77, 94, 19, 59],
       [52,  5, 98, 92],
       [22, 80,  5, 85]])

In [61]:
np.flip(b,axis=1)

array([[99, 95, 36, 46],
       [33, 30, 20, 58],
       [58, 31, 95, 62],
       [59, 19, 94, 77],
       [92, 98,  5, 52],
       [85,  5, 80, 22]])

In [62]:
np.flip(b,axis=0)

array([[22, 80,  5, 85],
       [52,  5, 98, 92],
       [77, 94, 19, 59],
       [62, 95, 31, 58],
       [58, 20, 30, 33],
       [46, 36, 95, 99]])

### np.put

The numpy.put() function replaces specific elements of an array with given values of p_array. Array indexed works on flattened array. 

https://numpy.org/doc/stable/reference/generated/numpy.put.html

In [63]:
a

array([60, 65, 12, 43, 94, 51, 91, 29, 96, 47, 24, 33, 48, 15, 28])

In [64]:
np.put(a,[0,1],[150,660])

In [65]:
a

array([150, 660,  12,  43,  94,  51,  91,  29,  96,  47,  24,  33,  48,
        15,  28])

### np.delete

The numpy.delete() function returns a new array with the deletion of sub-arrays along with the mentioned axis. 

https://numpy.org/doc/stable/reference/generated/numpy.delete.html

In [66]:
a

array([150, 660,  12,  43,  94,  51,  91,  29,  96,  47,  24,  33,  48,
        15,  28])

In [67]:
np.delete(a,[0])

array([660,  12,  43,  94,  51,  91,  29,  96,  47,  24,  33,  48,  15,
        28])

In [68]:
np.delete(a,[0,2,4])

array([660,  43,  51,  91,  29,  96,  47,  24,  33,  48,  15,  28])

### Set functions

- np.union1d
- np.intersect1d
- np.setdiff1d
- np.setxor1d
- np.in1d

In [69]:
m = np.array([1,2,3,4,5])
n = np.array([3,4,5,6,7])

In [70]:
# np.union1d
np.union1d(m,n)

array([1, 2, 3, 4, 5, 6, 7])

In [71]:
# np.intersect1d
np.intersect1d(m,n)

array([3, 4, 5])

In [72]:
# np.setdiff1d
np.setdiff1d(m,n)

array([1, 2])

In [73]:
# np.setxor1d
np.setxor1d(m,n)

array([1, 2, 6, 7])

In [74]:
# np.in1d
np.in1d(m,1)

array([ True, False, False, False, False])

In [75]:
m[np.in1d(m,1)]

array([1])

In [76]:
np.in1d(m,10)

array([False, False, False, False, False])

### np.clip

numpy.clip() function is used to Clip (limit) the values in an array.

https://numpy.org/doc/stable/reference/generated/numpy.clip.html

In [77]:
a

array([150, 660,  12,  43,  94,  51,  91,  29,  96,  47,  24,  33,  48,
        15,  28])

In [78]:
np.clip(a,25,75)

array([75, 75, 25, 43, 75, 51, 75, 29, 75, 47, 25, 33, 48, 25, 28])